[Unit]
Description=Twice-daily jasb.dev certificate renewal check

[Timer]
OnCalendar=*-*-* 04,16:17:00
RandomizedDelaySec=30m
Persistent=true

[Install]
WantedBy=timers.target
